
<section>
  <mat-checkbox [(ngModel)]="disabled">disabled</mat-checkbox>
</section>
<section>
  <h3>input</h3>
  <mat-form-field  hintLabel="my hint" color="warn">
    <span matPrefix style="margin-right:10px;">prefix </span>
    <input #input
      autofocus
      matInput placeholder="fave food"
      [(ngModel)]="food"
      required
      [disabled]="disabled"
    >
    <span matSuffix>suffix</span>
    <mat-error>my error</mat-error>
  </mat-form-field>
  <br><br>food: {{food}}
</section>
<br><br>
<section>
  <h3>textarea</h3>
  <mat-form-field color="warn">
    <span matPrefix style="margin-right:10px;">prefix </span>
    <textarea #resize="matTextareaAutosize" matTextareaAutosize matAutosizeMinRows="3" matInput placeholder="fave desc" [(ngModel)]="desc" required></textarea>
    <span matSuffix>suffix</span>
    <mat-error>my error</mat-error>
    <mat-hint align="end">my desc hint</mat-hint>
  </mat-form-field>
  <br><br>desc: {{desc}}
</section>
