
<div fxLayout="row" fxLayoutAlign="center center" style="width:100%; height:100%; outline:none;">
  <div fxFlex="50%" style="outline:none;">
    <div class="container" fxLayout="row">
      <div fxFlex="" class="cell"></div>
      <div fxFlex="" class="cell"></div>
      <div fxFlex="" class="cell"></div>
      <div fxFlex="" class="cell"></div>
    </div>
    <div class="container" fxLayout="row">
      <div fxFlex="1 0 auto" class="cell"></div>
      <div fxFlex="2 0 auto" class="cell"></div>
      <div fxFlex="1 0 auto" class="cell"></div>
    </div>
    <div class="container" fxLayout="row">
      <div fxFlex="" class="cell"></div>
      <div fxFlex="3 0 auto" class="cell"></div>
      <div></div>
    </div>
  </div>
</div>
