  <div  fxLayout="column" fxLayout.gt-xs="row" class="two" style="height:100%;">
    <div fxFlex="22%" fsFlex.xs="grow" class="two_one">four</div>
    <div fxFlex="205px" fsFlex.xs="grow"  class="two_two">five</div>
    <div fxFlex="grow" fsFlex.xs="grow"     class="two_three">six</div>
  </div>

<!--
<div fxLayout='column' style="height:100%">
  <div fxFlex="25" class="one" >one</div>

  <div fxFlex="25%" fxLayout="row" fxLayout.lt-sm="column" class="two">
    <div fxFlex="22%" fsFlex.xs="grow" class="two_one">four</div>
    <div fxFlex="205px" fsFlex.xs="grow"  class="two_two">five</div>
    <div fxFlex="grow" fsFlex.xs="grow"     class="two_three">six</div>
  </div>

  <div fxFlex class="three">three</div>

</div>
-->
