<section>
  <h3>buttons</h3>
  <button mat-button (click)="txt = 'flat'">flat</button>
  <button mat-raised-button (click)="txt = 'raised'">raised</button>
  <button mat-icon-button (click)="txt = 'icon'"><mat-icon>home</mat-icon></button>
  <button mat-fab (click)="txt = 'fab'">fab</button>
  <button mat-mini-fab (click)="txt = 'mini-fab'">minifab</button>
  <br>{{txt}}
</section>

<section>
  <h3>buttons</h3>
  <a href="#flat" mat-button>flat</a>
  <a href="#raised" mat-raised-button>raised</a>
  <a href="#icon" mat-icon-button><mat-icon>home</mat-icon></a>
  <a href="#fab" mat-fab>fab</a>
  <a href="#mini-fab" mat-mini-fab>minifab</a>
</section>


