<section>
  <h3>buttons</h3>
  <button md-button (click)="txt = 'flat'">flat</button>
  <button md-raised-button (click)="txt = 'raised'">raised</button>
  <button md-icon-button (click)="txt = 'icon'"><md-icon>home</md-icon></button>
  <button md-fab (click)="txt = 'fab'">fab</button>
  <button md-mini-fab (click)="txt = 'mini-fab'">minifab</button>
  <br>{{txt}}
</section>

<section>
  <h3>buttons</h3>
  <a href="#flat" md-button>flat</a>
  <a href="#raised" md-raised-button>raised</a>
  <a href="#icon" md-icon-button><md-icon>home</md-icon></a>
  <a href="#fab" md-fab>fab</a>
  <a href="#mini-fab" md-mini-fab>minifab</a>
</section>


