<md-card>
  basic list
  <md-list>
    <md-list-item> Pepper</md-list-item>
    <md-list-item> Salt</md-list-item>
    <md-list-item> Paprika</md-list-item>
  </md-list>
</md-card>

<md-card>
  dense list
  <md-list dense>
    <md-list-item> Pepper</md-list-item>
    <md-list-item> Salt</md-list-item>
    <md-list-item> Paprika</md-list-item>
  </md-list>
</md-card>

<md-card>
  nav list
  <md-nav-list>
    <md-list-item *ngFor="let link of ['one', 'two', 'three']">
      <a md-line href="#">{{ link }}</a>
      <button md-icon-button (click)="showInfo(link)">
        <md-icon>info</md-icon>
      </button>
    </md-list-item>
  </md-nav-list>
</md-card>

<md-card>
  2 item list
  <md-list>
    <md-list-item *ngFor="let message of messages">
      <h3 md-line> {{message.from}} </h3>
      <p md-line>
        <span> {{message.subject}} </span>
        <span class="demo-2"> -- {{message.content}} </span>
      </p>
    </md-list-item>
  </md-list>
</md-card>

<md-card>
  three line list
  <md-list>
    <md-list-item *ngFor="let message of messages">
      <h3 md-line> {{message.from}} </h3>
      <p md-line> {{message.subject}} </p>
      <p md-line class="demo-2"> {{message.content}} </p>
    </md-list-item>
  </md-list>
</md-card>

<md-card>
  icon list
  <md-list>
    <md-list-item *ngFor="let message of messages">
      <md-icon md-list-icon>folder</md-icon>
      <h3 md-line> {{message.from}} </h3>
      <p md-line>
        <span> {{message.subject}} </span>
        <span class="demo-2"> -- {{message.content}} </span>
      </p>
    </md-list-item>
  </md-list>
</md-card>

<md-card>
  avatar list
  <md-list>
    <md-list-item *ngFor="let message of messages">
      <img md-list-avatar src="{{message.avatar}}" alt="...">
      <h3 md-line> {{message.from}} </h3>
      <p md-line>
        <span> {{message.subject}} </span>
        <span class="demo-2"> -- {{message.content}} </span>
      </p>
    </md-list-item>
  </md-list>
</md-card>

<md-card>
  multiple sections (subheader (folders/notes), divider)
  <md-list>
    <h3 md-subheader>Folders</h3>
    <md-list-item *ngFor="let folder of folders">
      <md-icon md-list-icon>folder</md-icon>
      <h4 md-line>{{folder.name}}</h4>
      <p md-line> {{folder.updated | date}} </p>
    </md-list-item>
    <md-divider></md-divider>
    <h3 md-subheader>Notes</h3>
    <md-list-item *ngFor="let note of notes">
      <md-icon md-list-icon>note</md-icon>
      <h4 md-line>{{note.name}}</h4>
      <p md-line> {{note.updated | date}} </p>
    </md-list-item>
  </md-list>
</md-card>
