<mat-card>
  basic list
  <mat-list>
    <mat-list-item> Pepper</mat-list-item>
    <mat-list-item> Salt</mat-list-item>
    <mat-list-item> Paprika</mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  dense list
  <mat-list dense>
    <mat-list-item> Pepper</mat-list-item>
    <mat-list-item> Salt</mat-list-item>
    <mat-list-item> Paprika</mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  nav list
  <mat-nav-list>
    <mat-list-item *ngFor="let link of ['one', 'two', 'three']">
      <a mat-line href="#">{{ link }}</a>
      <button mat-icon-button (click)="showInfo(link)">
        <mat-icon>info</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</mat-card>

<mat-card>
  2 item list
  <mat-list>
    <mat-list-item *ngFor="let message of messages">
      <h3 mat-line> {{message.from}} </h3>
      <p mat-line>
        <span> {{message.subject}} </span>
        <span class="demo-2"> -- {{message.content}} </span>
      </p>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  three line list
  <mat-list>
    <mat-list-item *ngFor="let message of messages">
      <h3 mat-line> {{message.from}} </h3>
      <p mat-line> {{message.subject}} </p>
      <p mat-line class="demo-2"> {{message.content}} </p>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  icon list
  <mat-list>
    <mat-list-item *ngFor="let message of messages">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h3 mat-line> {{message.from}} </h3>
      <p mat-line>
        <span> {{message.subject}} </span>
        <span class="demo-2"> -- {{message.content}} </span>
      </p>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  avatar list
  <mat-list>
    <mat-list-item *ngFor="let message of messages">
      <img mat-list-avatar src="{{message.avatar}}" alt="...">
      <h3 mat-line> {{message.from}} </h3>
      <p mat-line>
        <span> {{message.subject}} </span>
        <span class="demo-2"> -- {{message.content}} </span>
      </p>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  multiple sections (subheader (folders/notes), divider)
  <mat-list>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item *ngFor="let folder of folders">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>{{folder.name}}</h4>
      <p mat-line> {{folder.updated | date}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Notes</h3>
    <mat-list-item *ngFor="let note of notes">
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{note.name}}</h4>
      <p mat-line> {{note.updated | date}} </p>
    </mat-list-item>
  </mat-list>
</mat-card>
