
<mat-card>
  <mat-card-header>
    <mat-card-title><h3>Sidenav</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br>mode:
    <mat-radio-group [(ngModel)]="mode">
      <mat-radio-button value="over">over</mat-radio-button>
      <mat-radio-button value="push">push</mat-radio-button>
      <mat-radio-button value="side">side</mat-radio-button>
    </mat-radio-group>
    <br>align:
    <mat-radio-group [(ngModel)]="align">
      <mat-radio-button value="start">start</mat-radio-button>
      <mat-radio-button value="end">end</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>

<div style="padding:30px;">
  <mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" [mode]="mode" [align]="align">
    Jolly good!
  </mat-sidenav>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="sidenav.open()">
      Open sidenav
    </button>
  </div>

</mat-sidenav-container>
</div>
