


<dk-dialog></dk-dialog>

<!--
<nav md-tab-nav-bar>
  <a md-tab-link
     *ngFor="let link of links"
     [routerLink]="link.url"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<router-outlet></router-outlet>
-->

<!--<dk-tabs></dk-tabs>-->

<!--<dk-grid-list></dk-grid-list>-->

<!--<dk-fx-play></dk-fx-play>-->

<!--<dk-fx-grid></dk-fx-grid>-->

<!--
<div style="height:400px;">
  <div class="appcomp" style="display:inline-block; width:45%; height:100%; padding: 20px;">
    <div>css</div>
    <dk-css-holy-grail></dk-css-holy-grail>
  </div>
  <div class="appcomp" style="display:inline-block; width:45%; height:100%; padding: 20px;">
    <div>fx</div>
    <dk-fx-holy-grail></dk-fx-holy-grail>
  </div>
</div>
-->

<!--<checkbox></checkbox>-->
<!--<auto-complete></auto-complete>-->
<!--<dk-input></dk-input>-->
<!--<datepicker></datepicker>-->
<!--<radio></radio>-->
<!--<dk-select></dk-select>-->
<!--<play></play>-->
<!--<slider></slider>-->
<!--<slide-toggle></slide-toggle>-->
<!--<buttons></buttons>-->
<!--<toggle-buttons></toggle-buttons>-->
<!--<chips></chips>-->
<!--<icons></icons>-->
<!--<spinners></spinners>-->
<!--<dk-progress></dk-progress>-->
<!--<dk-card></dk-card>-->
<!--<dk-menu></dk-menu>-->
<!--<dk-sidenav></dk-sidenav>-->
<!--<dk-toolbar></dk-toolbar>-->
<!--<dk-list></dk-list>-->
<!--<dk-fx-card></dk-fx-card>-->
<!--<dk-fx-play></dk-fx-play>-->
