
<section>
  <button (click)="triggerMenu($event)">manual trigger</button><br>
<md-card>
  <md-card-header><md-card-title>Settings</md-card-title></md-card-header>
  <md-card-subtitle>
    NONE OF THESE SETTINGS WORK, you have to set these manually as strings instead. <br>
    overlap=false: puts it below instead of coming off the left top corner and overlapping the element.
    In all settings comes off a corner of the trigger. It will either be top/bottom left/right for corners
  </md-card-subtitle>
<md-card-content>
  <md-checkbox [(ngModel)]="overlapTrigger">overlapTrigger</md-checkbox><br>
  <md-radio-group [(ngModel)]="xPosition">
    <md-radio-button value="before">before</md-radio-button>
    <md-radio-button value="after">after</md-radio-button>
  </md-radio-group><br>
  <md-radio-group [(ngModel)]="yPosition">
    <md-radio-button value="above">above</md-radio-button>
    <md-radio-button value="below">below</md-radio-button>
  </md-radio-group><br>
</md-card-content></md-card>
</section>

<h4>menu with overlap setting</h4>
<button md-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu" [overlapTrigger]="overlapTrigger">
  <button md-menu-item>
    <md-icon> dialpad </md-icon>
    <span> Redial </span>
  </button>
  <button md-menu-item disabled>
    <md-icon> voicemail </md-icon>
    <span> Check voicemail </span>
  </button>
  <button md-menu-item>
    <md-icon> notifications_off </md-icon>
    <span> Disable alerts </span>
  </button>
</md-menu>

<br>
<h4>menu with xposition/yposition settings</h4>
<button md-button [mdMenuTriggerFor]="menu2" style="margin-left:150px;">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu2="mdMenu" [xPosition]="xPosition" [yPosition]="yPosition">
  <button md-menu-item>one</button>
  <button md-menu-item>one</button>
  <button md-menu-item>one</button>
  <button md-menu-item>one</button>
</md-menu>
<pre>
  {{overlapTrigger}}<br>
  {{xPosition}}<br>
  {{yPosition}}<br>
</pre>
