
<section>
  <mat-checkbox [(ngModel)]="footer">footer</mat-checkbox><br>
  <mat-checkbox [(ngModel)]="actions">action</mat-checkbox>
  <span *ngIf="actions">
    <br>align:
    <mat-radio-group [(ngModel)]="align">
      <mat-radio-button value="start">start</mat-radio-button>
      <mat-radio-button value="end">end</mat-radio-button>
    </mat-radio-group>
  </span>
</section>

<div style="padding:30px;">

  <mat-card>simple</mat-card>
  <br><br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>The Title</mat-card-title>
      <mat-card-subtitle>my subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      dfsd sdfsd fasdf sdfsdfsdfsdfsda fas df sda f sdaf sad f asdfasdf asdf as df asd fa sdf asd f asdf asd f asdf sad
      dfsd sdfsd fasdf sdfsdfsdfsdfsda fas df sda f sdaf sad f asdfasdf asdf as df asd fa sdf asd f asdf asd f asdf sad
    </mat-card-content>
    <mat-card-actions *ngIf="actions">
      <button mat-button>Cancel</button>
      <button mat-button>OK</button>
      // no align property on actions currrently
    </mat-card-actions>
    <mat-card-footer *ngIf="footer">
      my footer
    </mat-card-footer>
  </mat-card>
  <br><br>

</div>
