
<section>
  <h3>radios</h3>
  <md-button-toggle-group #group="mdButtonToggleGroup">
    <md-button-toggle value="left">
      <md-icon>format_align_left</md-icon>
    </md-button-toggle>
    <md-button-toggle value="center">
      <md-icon>format_align_center</md-icon>
    </md-button-toggle>
    <md-button-toggle value="right">
      <md-icon>format_align_right</md-icon>
    </md-button-toggle>
    <md-button-toggle value="justify" disabled>
      <md-icon>format_align_justify</md-icon>
    </md-button-toggle>
  </md-button-toggle-group>
  <div class="example-selected-value">Selected value: {{group.value}}</div>
</section>

<section>
  <h3>checkboxes (multiple)</h3>
  <md-button-toggle-group #groupMultiple="mdButtonToggleGroup" multiple>
    <md-button-toggle *ngFor="let button of buttons;index as idx"
                      [checked]="button.value"
                      [disabled]="button.disabled"
                      (change)="change(idx, $event)">
      <md-icon>format_align_{{button.name}}</md-icon>
    </md-button-toggle>
  </md-button-toggle-group>
  <pre>values: {{buttons|json}}</pre>
</section>

