
<section>
  <md-form-field><input mdInput type="number" [(ngModel)]="min" placeholder="min"></md-form-field><br>
  <md-form-field><input mdInput type="number" [(ngModel)]="max" placeholder="max"></md-form-field><br>
  <md-form-field><input mdInput type="number" [(ngModel)]="step" placeholder="step"></md-form-field><br>

<section>  <md-checkbox [(ngModel)]="ticks">show ticks</md-checkbox>
  <span *ngIf="ticks">
  <md-checkbox [(ngModel)]="auto">auto</md-checkbox>
  <md-form-field *ngIf="ticks && !auto">
    <input mdInput type="number" [(ngModel)]="tickInterval" placeholder="tickInterval">
  </md-form-field>
  </span>
</section>

  <md-checkbox [(ngModel)]="thumbLabel">thumbLabel</md-checkbox><br>
</section>
<section>
  <md-slider style="width:300px;"
    [min]="min"
    [max]="max"
    [step]="step"
    [tickInterval]="tickInterval"
    [thumbLabel]="thumbLabel"
    (change)="log($event.value)"
  ></md-slider>
</section>
