
<section>
  <mat-form-field><input matInput type="number" [(ngModel)]="min" placeholder="min"></mat-form-field><br>
  <mat-form-field><input matInput type="number" [(ngModel)]="max" placeholder="max"></mat-form-field><br>
  <mat-form-field><input matInput type="number" [(ngModel)]="step" placeholder="step"></mat-form-field><br>

<section>  <mat-checkbox [(ngModel)]="ticks">show ticks</mat-checkbox>
  <span *ngIf="ticks">
  <mat-checkbox [(ngModel)]="auto">auto</mat-checkbox>
  <mat-form-field *ngIf="ticks && !auto">
    <input matInput type="number" [(ngModel)]="tickInterval" placeholder="tickInterval">
  </mat-form-field>
  </span>
</section>

  <mat-checkbox [(ngModel)]="thumbLabel">thumbLabel</mat-checkbox><br>
</section>
<section>
  <mat-slider style="width:300px;"
    [min]="min"
    [max]="max"
    [step]="step"
    [tickInterval]="tickInterval"
    [thumbLabel]="thumbLabel"
    (change)="log($event.value)"
  ></mat-slider>
</section>
