



<section>
  placholder position:<br>
  <mat-radio-group [(ngModel)]="floatPlaceholder">
    <mat-radio-button [value]="val" *ngFor="let val of ['auto', 'never', 'always']">{{val}}</mat-radio-button>
  </mat-radio-group>
</section>

<section>
<mat-form-field [floatPlaceholder]="floatPlaceholder">
    <mat-select placeholder="Favorite food" [(ngModel)]="selection">
  <mat-option *ngFor="let food of foods" [value]="food.value" [disabled]="food.disabled">
    {{ food.viewValue }}
  </mat-option>
</mat-select>
</mat-form-field></section>

<section>
  selection: {{selection}}<br>
  placeholder: {{floatPlaceholder}}
</section>
