<mat-card fxFlex fxFlexAlign="start">

  <mat-card-content>
    <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
      <mat-form-field fxFlex="0 0 calc(50% - 25px)">
        <input matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field fxFlex="0 0 calc(50% - 25px)">
        <input matInput placeholder="Occupation">
      </mat-form-field>
      <mat-form-field fxFlex="nogrow">
        <input matInput placeholder="Company">
      </mat-form-field>
      <mat-form-field fxFlex="">
        <input matInput placeholder="Company">
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>Anterior</button>
    <button mat-button>Proximo</button>
  </mat-card-actions>
</mat-card>
