<md-card fxFlex fxFlexAlign="start">

  <md-card-content>
    <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
      <md-form-field fxFlex="0 0 calc(50% - 25px)">
        <input mdInput placeholder="Name">
      </md-form-field>
      <md-form-field fxFlex="0 0 calc(50% - 25px)">
        <input mdInput placeholder="Occupation">
      </md-form-field>
      <md-form-field fxFlex="nogrow">
        <input mdInput placeholder="Company">
      </md-form-field>
      <md-form-field fxFlex="">
        <input mdInput placeholder="Company">
      </md-form-field>
    </div>
  </md-card-content>

  <md-card-actions>
    <button md-button>Anterior</button>
    <button md-button>Proximo</button>
  </md-card-actions>
</md-card>
