<mat-checkbox [(ngModel)]="checked">Checked</mat-checkbox><br>
<mat-checkbox [(ngModel)]="indeterminate">Indeterminate</mat-checkbox><br>
<mat-checkbox [(ngModel)]="disabled">disabled</mat-checkbox><br>

<section>
  <label class="example-margin">Align:</label>
  <mat-radio-group [(ngModel)]="labelPosition">
    <mat-radio-button class="example-margin" value="before">Before</mat-radio-button>
    <mat-radio-button class="example-margin" value="after">After</mat-radio-button>
  </mat-radio-group>
</section>

<br><br>
<mat-checkbox #checkbox
             [checked]="checked"
             [indeterminate]="indeterminate"
             [labelPosition]="labelPosition"
             [disableRipple]="true"
             [disabled]="disabled"
             name="dankman"
>result
</mat-checkbox>
<br>
<button (click)="toggle()">toggle</button>
value: {{checked}}
